# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
backend/node_modules
frontend/node_modules

# Optional REPL history
frontend/.next
backend/.next

# ENV files
frontend/.env.local
backend/.env

